html {
  position: relative;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}


section.module.parallax-1 {
 background-image: url("https://i.postimg.cc/t4VV6xhF/Image_from_i_OS.jpg");   background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0,123,255,0.4);
  background-blend-mode: screen;
}

.navbar-scroll {
  background-color: rgba(0,123,255,0.4);
  transition: background-color 0.5s;
}

.navbar-nav  {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 1.7em;
  bottom: 0;
  left: 1em;
  right: 1em;
  margin: auto;
  font-family: 'Crimson Text', serif;
  font-size: 25px;
}

.logo-name {
  font-family: 'Kaushan Script';

}

/* landing page title */

.lisa-holloway-title {
  font-family: 'Kaushan Script', cursive;
  text-align: center;7
}

/* end landing page title */
.hair-title {
  padding-top: 1em;
  padding-bottom: 1em;
}


/* color-section  */
.hair-color {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* end of color section */

/* treatment */

.treatment-title {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* end of treatment */

/* contact section */

.connect-section {
  background-color: #FFAFB0;
  padding-top: 4em;
  padding-bottom: 4em;
  border: 1px solid #544F54;

}

.contact {

  padding-top: 4em;
  text-align: center;
  border-style: dotted;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 33em;
  height: 38em;
  padding-bottom: 1em;
  font-family: 'Crimson Text', serif;
  border-color: #808080

}

.btn {
  text: center;
  font-family: 'Crimson Text', serif;
  border-radius: 0;
}
a {
  color: white;
  text-decoration: none !important;
}
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

.groups-buttons {
  padding: 1em;
  text-align: center;
}

.description h5 {
  text-align: center; 
}



/* end of contact section */

/* social media */
/* ending social media */

.padding-2 {
  padding: 3em;
}


/* Book Online */
.row::after {
    content: "";
    clear: both;
    display: table;
}

  .lisa-speciality {
    padding-bottom: 1em;
    font-family: 'Kaushan Script', serif;
    font-size: 23px;
    text-align: center;
  }



  /* end about lisa */



/* Services options */
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

/* ----- v CAN BE DELETED v ----- */


.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 14px;
color: #fff;
}
/* end of services options */
.padding-footing {
  padding: 2em;
}



/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  }

.py-3 {
  background-color: white !important;

}



.bg-circle a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}

.footer-info {
  border-style: bold;
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  text-align: center;

  left: -1em;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
}


/* end of footer */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800|Vollkorn:400,400i,600,600i,700,700i');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vollkorn', 'Poppins', sans-serif, serif;
}

ul {
    list-style: none;
}

/* footer */

.contact-area {
    position: relative;
}

.contact-us {
    /* background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0; */
    width: 100%;
    margin: 0;
    text-align: center;
    height: 300px;
    padding: 60px 0;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}

.contact-list li i.fa {
    color: #000;
    font-size: 16px;
    margin-right: 5px;
}

.contact-list li {
    margin-bottom: 15px;
}

.contact-list li a {
    color: #000;
    font-size: 16px;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

.contact-list li a:hover {
    background-color: #FF7779;
    text-decoration: none;
}



/*end of contact section   */
@media(max-width: 768px){
    .navbar {background-color: #007bff !important; }
}


.jumbotron {
  /* background-image: url("https://image.ibb.co/iDysC9/IMG_20180329_141451485.jpg"); */
  background-size: 100% 100%;
  color: #604D53;
  margin-bottom: 0;
}
/* .navbar-scroll {
  background-color: #604D53;
  transition: background-color 0.5s;
} */
@media(max-width: 768px){
     }
}
/* .navbar {background-color: #604D53 !important; */
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.parallax-container {
  max-width: 960px;
  margin: 0 auto;
}



/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: rgba(207,216,220,0.5);
}
section.module.content:last-child {
  margin-bottom: 60px;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  background-image: url("https://i.postimg.cc/t4VV6xhF/Image_from_i_OS.jpg");
  background-position: 50%, 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #604D53;
  background-blend-mode: screen;
}
section.module.parallax-2 {
  background-image: url("https://www.go2convert.com/Converted/Download/981929078bab48508fdf35c28a05ad5a");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #604D53;
  background-blend-mode: screen;
}
section.module.parallax-3 {
  background-image: url("http://www.psd-dude.com/tutorials/resources-images/free-rain-and-raindrop-textures-for-photoshop/raindrops-window-background.jpg");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #604D53;
  background-blend-mode: screen;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 300px 0;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
