html {
  position: relative;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

section.module.parallax-1 {
 background-image: url("https://i.postimg.cc/t4VV6xhF/Image_from_i_OS.jpg");   background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0,123,255,0.4);
  background-blend-mode: screen;
}

.navbar-scroll {
  background-color: rgba(0,123,255,0.4);
  transition: background-color 0.5s;
}

.navbar-nav  {
  width: 200px;
  height: 100px;

   position: absolute;
   top: 1.7em;
   bottom: 0;
   left: 0;
   right: 2em;
   margin: auto;

   font-family: 'Crimson Text', serif;
   font-size: 25px;
}

/* landing page title */

.lisa-holloway-title {
  font-family: 'Kaushan Script';
  text-align: center;



}

.professional-hair-stylist {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  text-align: center;
}

/* end landing page title */

/* testimonals */
.card {
  border: none;
}
.customer-testimonals {
  font-family: 'Kaushan Script';
  /* font-style: italic; */
  font-size: 65px;
  text-align: center;
  padding-bottom: 1em;

}

.card-title {
  text-align: center;
  font-weight: bold;
  font-family: 'Crimson Text', serif;


}

.card-text {
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 18px;

}

.section-card-1 {
  position: absolute;
  left: 150px;
  border-radius: 10px;

  /* border: 3px solid grey; */
}

.section-card-2 {
  position: absolute;
  left: 500px;
  border-radius: 10px;

  /* border: 3px solid pink; */
}

.section-card-3 {
  position: absolute;
  right: 150px;
  border-radius: 10px;

  /* border: 3px solid grey; */
}

/* end of testimonals */

/* contact section */

.contact {
  background-color: #fee4dc;
  padding-top: 1em;
  padding-bottom: 5em;

}
.contact h1 {
  font-family: 'Crimson Text', serif;
  /* line-height: 3em; */
}

section h5 {
  font-family: 'Crimson Text', serif;
}

.contact-container {
  padding-top: 5em;

}


.fa-address-book {
  background: grey;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  border-radius: 50%;
  padding: 30px;
  color: white;
}

.address {
  text-align: center;
  font-weight: bold;
}

.address-text {
  text-align: center;
}

.fa-phone{
  background: grey;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  border-radius: 50%;
  padding: 30px;
  color: white;
}

.phone {
  text-align: center;
  font-weight: bold;
}

.phone-text {
  text-align: center;
}

.fa-envelope {
  background: grey;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  border-radius: 50%;
  padding: 30px;
  color: white;
}

.email{
  text-align: center;
  font-weight: bold;
}

.email-text {
  text-align: center;
}
/* end of contact section */


/* footer */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800|Vollkorn:400,400i,600,600i,700,700i');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vollkorn', 'Poppins', sans-serif, serif;
}

ul {
    list-style: none;
}

/* footer */

.contact-area {
    position: relative;
}

.contact-us {
    /* background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0; */
    width: 100%;
    margin: 0;
    text-align: center;
    height: 300px;
    padding: 60px 0;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}

.contact-list li i.fa {
    color: #000;
    font-size: 16px;
    margin-right: 5px;
}

.contact-list li {
    margin-bottom: 15px;
}

.contact-list li a {
    color: #000;
    font-size: 16px;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

.contact-list li a:hover {
    background-color: #FF7779;
    text-decoration: none;
}

.social-content {
    position: relative;
    z-index: 2;
    max-width: 1578px;
    background: #00a3de;
    border-radius: 5px;
    text-align: center;
    padding: 50px 20px;
    margin: 0 auto;
}

.social-title {
    display: block;
    color: #0477ae;
    margin-bottom: 20px;
    letter-spacing: -1px;
}

.socials {
    display: table;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #5cc2e9;
    max-width: 1444px;
    margin: 0 auto;
}

.socials .item:first-child {
    border-left: none;
}

.socials .item {
    background: rgba(37, 37, 37, .1);
    border-left: 1px solid #5cc2e9;
    display: table-cell;
    height: 73px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    transition: background .2s ease-out;
}


/* End footer */

/* end of footer */




/*end of contact section   */
@media(max-width: 768px){
    .navbar {background-color: #007bff !important; }
}
/*


/* gallery  */
.controls-top {
  text-align: center;
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%; } }

.carousel-multi-item-2 .card img {
    border-radius: 2px; }
/* end gallery */


.jumbotron {
  /* background-image: url("https://image.ibb.co/iDysC9/IMG_20180329_141451485.jpg"); */
  background-size: 100% 100%;
  color: #604D53;
  margin-bottom: 0;
}
/* .navbar-scroll {
  background-color: #604D53;
  transition: background-color 0.5s;
} */
@media(max-width: 768px){
     }
}
/* .navbar {background-color: #604D53 !important; */
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.parallax-container {
  max-width: 960px;
  margin: 0 auto;
}



/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: rgba(207,216,220,0.5);
}
section.module.content:last-child {
  margin-bottom: 60px;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  background-image: url("https://i.postimg.cc/t4VV6xhF/Image_from_i_OS.jpg");
  background-position: 50%, 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #604D53;
  background-blend-mode: screen;
}
section.module.parallax-2 {
  background-image: url("https://www.go2convert.com/Converted/Download/981929078bab48508fdf35c28a05ad5a");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #604D53;
  background-blend-mode: screen;
}
section.module.parallax-3 {
  background-image: url("http://www.psd-dude.com/tutorials/resources-images/free-rain-and-raindrop-textures-for-photoshop/raindrops-window-background.jpg");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #604D53;
  background-blend-mode: screen;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 300px 0;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}

/* services & booking  */


/*footer*/
.footer .container-fluid {
  height: auto;
  background-color:  #D5C5C8;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #FFDBDA
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}
footer .container-fluid a {
  display: inline-block;
  color: black;
  padding-left: 1em;

}
footer .container-fluid p {
  display: inline-block;
  color: black;
  padding-left: 1em;
  padding-right: 2em;
}
@media(max-width: 768px){
    .col-md-4 {
      text-align: center;
      line-height: 30px;
  }
}
