html {
  position: relative;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

section.module.parallax-1 {
 background-image: url("https://i.postimg.cc/t4VV6xhF/Image_from_i_OS.jpg");   background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0,123,255,0.4);
  background-blend-mode: screen;
}

.navbar-scroll {
  background-color: rgba(0,123,255,0.4);
  transition: background-color 0.5s;
}

.navbar-nav  {
  width: 200px;
  height: 100px;

   position: absolute;
   top: 1.7em;
   bottom: 0;
   left: 0;
   right: 2em;
   margin: auto;

   font-family: 'Crimson Text', serif;
   font-size: 25px;
}

.logo-name {
  font-family: 'Kaushan Script';


}

/* landing page title */

.lisa-holloway-title {
  font-family: 'Kaushan Script';
  text-align: center;



}

.professional-hair-stylist {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-align: center;
}

/* end landing page title */

/* testimonals */
.card {
  border: none;
}
.customer-testimonals {
  font-family: 'Kaushan Script';
  /* font-style: italic; */
  font-size: 65px;
  text-align: center;
  padding-bottom: 1em;

}

.card-title {
  text-align: center;
  font-weight: bold;
  font-family: 'Crimson Text', serif;


}

.card-text {
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 18px;

}

.section-card-1 {
  position: absolute;
  left: 150px;
  border-radius: 10px;

  /* border: 3px solid grey; */
}

.section-card-2 {
  position: absolute;
  left: 500px;
  border-radius: 10px;

  /* border: 3px solid pink; */
}

.section-card-3 {
  position: absolute;
  right: 150px;
  border-radius: 10px;

  /* border: 3px solid grey; */
}

/* end of testimonals */

.padding {
  padding: 15em;
}
/* contact section */

.contact {

  padding-top: 1em;
  text-align: center;
  border-style: dashed;
  border-radius: 25px;

  margin-left: auto;
  margin-right: auto;
  width: 30em;
  height: 23em;

  padding-bottom: 2em;
  font-family: 'Crimson Text', serif;

}

.contact-title {
  font-family: 'Kaushan Script';
}

.new-clients {
  color: #977E25
}

.email {
  color: #977E25
}


/* end of contact section */

/* social media */
/* ending social media */


/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  }

.py-3 {
  background-color: white !important;

}

.bg-circle
{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  color: #ececec;
  text-align: center;
  border-radius: 50%;
}

.bg-circle-outline
{
  width: 50px;
  height: 50px;
  color:smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}


.bg-circle a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}

.footer-info {
  border-style: bold;
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  text-align: center;
}


/* end of footer */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800|Vollkorn:400,400i,600,600i,700,700i');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vollkorn', 'Poppins', sans-serif, serif;
}

ul {
    list-style: none;
}

/* footer */

.contact-area {
    position: relative;
}

.contact-us {
    /* background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0; */
    width: 100%;
    margin: 0;
    text-align: center;
    height: 300px;
    padding: 60px 0;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}

.contact-list li i.fa {
    color: #000;
    font-size: 16px;
    margin-right: 5px;
}

.contact-list li {
    margin-bottom: 15px;
}

.contact-list li a {
    color: #000;
    font-size: 16px;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

.contact-list li a:hover {
    background-color: #FF7779;
    text-decoration: none;
}



/*end of contact section   */
@media(max-width: 768px){
    .navbar {background-color: #007bff !important; }
}


.jumbotron {
  /* background-image: url("https://image.ibb.co/iDysC9/IMG_20180329_141451485.jpg"); */
  background-size: 100% 100%;
  color: #604D53;
  margin-bottom: 0;
}
/* .navbar-scroll {
  background-color: #604D53;
  transition: background-color 0.5s;
} */
@media(max-width: 768px){
     }
}
/* .navbar {background-color: #604D53 !important; */
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.parallax-container {
  max-width: 960px;
  margin: 0 auto;
}



/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: rgba(207,216,220,0.5);
}
section.module.content:last-child {
  margin-bottom: 60px;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  background-image: url("https://i.postimg.cc/t4VV6xhF/Image_from_i_OS.jpg");
  background-position: 50%, 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #604D53;
  background-blend-mode: screen;
}
section.module.parallax-2 {
  background-image: url("https://www.go2convert.com/Converted/Download/981929078bab48508fdf35c28a05ad5a");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #604D53;
  background-blend-mode: screen;
}
section.module.parallax-3 {
  background-image: url("http://www.psd-dude.com/tutorials/resources-images/free-rain-and-raindrop-textures-for-photoshop/raindrops-window-background.jpg");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #604D53;
  background-blend-mode: screen;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 300px 0;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
