html {
  position: relative;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

section.module.parallax-1 {
 background-image: url("https://s3-media2.fl.yelpcdn.com/bphoto/YEVehnE3A6v0QQ14Wl5LTg/ls.jpg");   background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0,123,255,0.4);
  background-blend-mode: screen;
}

.navbar-scroll {
  background-color: rgba(0,123,255,0.4);
  transition: background-color 0.5s;
}

.navbar-nav  {
  width: 200px;
  height: 100px;

   position: absolute;
   top: 1.7em;
   bottom: 0;
   left: 0;
   right: 2em;
   margin: auto;

   font-family: 'Crimson Text', serif;
   font-size: 25px;
}

.logo-name {
  font-family: 'Kaushan Script';


}

/* landing page title */

.lisa-holloway-title {
  font-family: 'Kaushan Script';
  text-align: center;
}



/* about lisa */
.headline {
font-family: Calibri, "Helvetica", san-serif;
line-height: 1em;
color: black;
font-size: 30px;

}

h1:after
{
    margin: 1em;
    content:' ';
    display:block;
    border:1px solid black;
}

.about-lisa {
  padding: 3em;

}

h1 {
  text-align: center;
  font-family: 'Crimson Text', serif;

}
.align-center {
     text-align: center;
 }
 /*CENTER DIV*/
 .center {
     margin: 0 auto;
     width: 80%;
   }
  .column {
      float: right;
      width: 33.33%;
      padding: 5px;
  }

  /* Clearfix (clear floats) */
  .row::after {
      content: "";
      clear: both;
      display: table;
  }

  .lisa-speciality {
    padding-bottom: 1em;
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    text-align: center;
  }

  .btn {
    text: center;
  }
  a {
    color: white;
    text-decoration: none !important;
  }
  a:link {
    color: white;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}
/* end about lisa */

/* lisa description */

.about-description {
  padding: 3em;
}

/* end lisa description */






/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  }

.py-3 {
  background-color: white !important;

}





.footer-info {
  border-style: bold;
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  text-align: center;
}


/* end of footer */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800|Vollkorn:400,400i,600,600i,700,700i');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vollkorn', 'Poppins', sans-serif, serif;
}

ul {
    list-style: none;
}

/* footer */



@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}


/*end of contact section   */
@media(max-width: 768px){
    .navbar {background-color: #007bff !important; }
}



/* .navbar-scroll {
  background-color: #604D53;
  transition: background-color 0.5s;
} */
@media(max-width: 768px){
     }
}
/* .navbar {background-color: #604D53 !important; */
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.parallax-container {
  max-width: 960px;
  margin: 0 auto;
}



/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: rgba(207,216,220,0.5);
}
section.module.content:last-child {
  margin-bottom: 60px;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  background-image: url("https://s3-media2.fl.yelpcdn.com/bphoto/Y7XOb6QLPB-Y1NUEeFNIJA/o.jpg");
  background-position: 50%, 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #604D53;
  background-blend-mode: screen;
}





@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 300px 0;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
