html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Quicksand;

}

header {
  width: 100%;
  height: 100vh;
  background: url(https://image.ibb.co/iDysC9/IMG_20180329_141451485.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.content {
  width: 90%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;

}

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0)
  overflow: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.menu-icon {
width: 100%;
background: #000;
text-align: right;
box-sizing: border-box;
padding: 15px 24px;
cursor: pointer;
color: #fff
display: none;
}

#about-lisa {
   color: black;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: lighter;
   text-align: center;
   top: 50%;
   left: 50%;


}

/* center text about-lisa */

.nav {
  font-family: Prime;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em 0.83em;
  color: rgba(255, 255, 255, 0.5)
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a:before,
.nav a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  opacity: 0
}

.nav a:before {
  right: 0;
  top: 0;
  border-right: 3px solid red;
  border-top: 3px solid red;
  transform: translate(-100%, 50%);
}

.nav a:after {
  left: 0;
  bottom: 0;
  border-left: 3px solid red;
  border-bottom: 3px solid red;
  transform: (100%, -50%)
}


.nav li:hover{
  transform: translate(0%, 0%);
  opacity: 1;
  border: 3px solid black;
}


@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}
